# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual Environments
# --------------------
venv/
.env/
.env.*

# --------------------
# Packaging / Build
# --------------------
*.egg-info/
dist/
build/

# --------------------
# Jupyter / ML
# --------------------
.ipynb_checkpoints/
*.log
*.pkl
*.h5
*.pt
*.ckpt

# --------------------
# MLflow
# --------------------
mlruns/

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/
*.swp

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db
